{% set cap_left = left_caption | default(value="") %}
{% set cap_right = right_caption | default(value="") %}

<div class="image-row">
  <figure>
    <img src="{{ get_url(path=left_src) }}" alt="{{ left_alt | default(value='') }}">
    {% if cap_left %}
      <figcaption>{{ cap_left }}</figcaption>
    {% endif %}
  </figure>

  <figure>
    <img src="{{ get_url(path=right_src) }}" alt="{{ right_alt | default(value='') }}">
    {% if cap_right %}
      <figcaption>{{ cap_right }}</figcaption>
    {% endif %}
  </figure>
</div>
